<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.forlooptask">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ForLoopTask">

        <activity android:name="com.example.designing.DashBoardActivity" />
        <activity android:name="com.example.designing.ProfileSetupActivity" />
        <activity android:name="com.example.intent.ThirdActivity" />
        <activity android:name="com.example.intent.SecondActivity" />
        <activity android:name="com.example.intent.FirstActivity" />
        <activity android:name="com.example.activitylifecycle.LifecycleActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name="com.example.cheetsheetpractice.CheetSheetActivity" />
        <activity android:name="com.example.filepicker.ImagePickerActivity" />
        <activity android:name="com.example.designing.LoginActivity" />
        <activity android:name="com.example.designing.RegisterActivity" />
        <activity android:name="com.example.retrofit.view.CoinDeskActivity"/>
        <activity android:name="com.example.retrofit.view.RetrofitActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>